extends ../layouts/main
include ../mixins/libraryVideoBlock

block content
    if !user
        span 좋아하는 동영상을 감상해보세요.
    else
        .libraryVideo
            each video in videos
                +libraryVideoBlock({
                    title:video.title,
                    views:video.views
                })