extends ../layouts/main
include ../mixins/libraryVideoBlock

block content
    if !user
        span 좋아하는 동영상을 감상해보세요.
    else
        .libraryVideos__wrapper.videos__wrapper
            .libraryVideo.videos  
                each video in videos
                    +libraryVideoBlock({
                        id:video._id,
                        videoFile:video.videoFile,
                        title:video.title,
                        views:video.views,
                        createdAt:video.createdAt,
                        channel:video.channel
                    })

