extends ../layouts/main
include ../mixins/subscriptionVideoBlock

block content
    if !user
        .noneUser__wrapper
            span.noneUser__sentence 새로운 동영상을 놓치지 마세요.
    else
        .subscriptionVideos__wrapper.videos__wrapper
            .subscriptionVideo.videos
                each video in videos
                    +subscriptionVideoBlock({
                        id:video._id,
                        videoFile:video.videoFile,
                        title:video.title,
                        views:video.views,
                        createdAt:video.createdAt,
                        channel:video.channel
                    })