extends ../layouts/main
include ../mixins/trendingVideoBlock

block content
    .trendingVideo
        each trending in trendings
            +trendingVideoBlock({
                id:trending.id,
                videoFile:trending.videoFile,
                title:trending.title,
                views:trending.views,
                description:trending.description,
                channelName:trending.channel.name,
                channelId:trending.channel.id,
                channelAvatar:trending.channel.avatarUrl,
            })