extends ../layouts/main
include ../mixins/trendingVideoBlock

block content
    .trendingVideos__wrapper.videos__wrapper
        .trendingVideo.videos  
            each video in videos
                +trendingVideoBlock({
                        id:video._id,
                        videoFile:video.videoFile,
                        title:video.title,
                        views:video.views,
                        createdAt:video.createdAt,
                        channel:video.channel
                })