extends ../layouts/main
include ../mixins/likelistVideoBlock

block content
    .likelistVideo
        each video in videos
            +likelistVideoBlock({
                title:video.title,
                views:video.views
            })