extends ../layouts/main
include ../mixins/likelistVideoBlock

block content
    if !user
        span 새로운 동영상을 놓치지 마세요.
    else
        .likelistVideos__wrapper.videos__wrapper
            .likelistVideo.videos  
                each video in videos
                    +likelistVideoBlock({
                        id:video._id,
                        videoFile:video.videoFile,
                        title:video.title,
                        views:video.views,
                        createdAt:video.createdAt,
                        channel:video.channel
                    })