extends ../layouts/main
include ../mixins/watchlistVideoBlock

block content
    .watchlistVideo
        each video in videos
            +watchlistVideoBlock({
                title:video.title,
                views:video.views
            })