mixin likelistVideoBlock(likelistVideo = {})
    .likelistVideoBlock
        a(href=routes.videoDetail) 
            h4.video__title=likelistVideo.title
            h6.video__views=likelistVideo.views