mixin myvideosVideoBlock(myvideosVideo = {})
    .myvideosVideoBlock
        a(href=routes.videoDetail) 
            h4.video__title=myvideosVideo.title
            h6.video__views=myvideosVideo.views