mixin sdmyvideoList(sdmyvideo = {})
    .sdmyvideo
        a(href=`${domain}/${routes.sdEditVideo(1,sdmyvideo.id)}`) 
            h4.video__title=sdmyvideo.title
            h6.video__views=sdmyvideo.views