mixin watchlistVideoBlock(watchlistVideo = {})
    .watchlistVideoBlock
        a(href=routes.videoDetail) 
            h4.video__title=watchlistVideo.title
            h6.video__views=watchlistVideo.views