extends ../layouts/join

block content
    .join__form-container
        span.join__form-title 가입 정보 입력
        form(action=`/join${routes.newJoin}`,method="post")
            label(for="name") 이름
            input(type="text",name="name",placeholder="한글 2자 이상 입력")
            label(for="email") 이메일
            input(type="email", name="email",placeholder="이메일 주소 입력")
            label(for="name") 비밀번호
            input(type="password", name="password", placeholder="비밀번호 입력")
            input(type="password", name="password2", placeholder="비밀번호 확인")
            input(type="submit", value="다음")