extends layouts/main

block content
    .form-container
        span.form-title 회원정보변경
        form(action=`/users${routes.editProfile}`, method="post" )
            label(for="name") 이름
            input(type="text",name="name",placeholder="한글 2자 이상 입력",value=user.name)
            label(for="email") 이메일
            input(type="email", name="email",placeholder="이메일 주소 입력",value=user.email readonly)
            input(type="submit", value="변경하기")