extends layouts/main
include mixins/videoBlock

block content
    .videos__wrapper
        .videos
            each video in videos
                +videoBlock({
                    id:video._id,
                    videoFile:video.videoFile,
                    title:video.title,
                    views:video.views,
                    createdAt:video.createdAt,
                    channelName:video.channel.name,
                    channelAvatar:video.channel.avatarUrl
                })