extends layouts/main

block content
    .login__form-container
        form(action=routes.login,method="post")
            input(type="email", name="email",placeholder="이메일을 입력해주세요")
            input(type="password", name="password", placeholder="비밀번호를 입력해주세요")
            input(type="submit", value="로그인")
        .join-btn
            a(href=routes.join)
                span 회원가입
        include partials/socialLogin