extends layouts/main
include mixins/searchVideoBlock
include mixins/searchChannelList

block content
    .searchFound__wrapper
        if channelFounds.length == 0 && videos.length==0
            .search__notFound
                h3 겸색결과가 없습니다.
                h5 다른 검색어를 시도해 보거나 검색 필터를 삭제하세요.
        else
            .search__channel
                each channelFound in channelFounds
                    +searchChannelList({
                        id:channelFound.id,
                        name:channelFound.name,
                        subNum:channelFound.subscribers.length,
                        videoNum:channelFound.videos.length,
                        avatarUrl:channelFound.avatarUrl,
                        description:channelFound.description
                    })
            .search__videos
                each video in videos
                    +searchVideoBlock({
                        id:video.id,
                        videoFile:video.videoFile,
                        title:video.title,
                        views:video.views,
                        createdAt:video.createdAt,
                        description:video.description,
                        channelName:video.channel.name,
                        channelId:video.channel.id,
                        channelAvatar:video.channel.avatarUrl,
                    })