extends layouts/main

block content
    .form-container
        span.form-title 신규 비밀번호 설정
        form(action=`/users${routes.setPassword}`, method="post")
            label(for="name") 신규 비밀번호
            input(type="password", name="newPassword", placeholder="신규 비밀번호")
            input(type="password", name="newPassword1", placeholder="신규 비밀번호 재입력")
            input(type="submit", value="설정하기")