.channelHeader
    img.cnHeader__cover(src=channel.coverUrl)
    .cnHeader__wrapper
        .cnHeader__info
            .info__column
                img.cnHeader__avatar.roundAvatar(src=channel.avatarUrl)
                .cnHeader__detail    
                    .cnHeader__cnName=channel.name
                    .info__column-cnSubscribers
                        div.cnHedaer__cnSubscribers-title 구독자
                        div.cnHeader__cnSubscribers-number=channel.subscribers
                        div.cnHedaer__cnSubscribers-person 명
            .info__column
                .cnHeader__subscribeBtn.subscribeBtn 구독
                
