header.header
    .header__wrapper-join
        .header__wrapper
            .header__column
                a(href=routes.home)
                    span.jamesTube-logo
                        i.fab.fa-youtube
                    span.jamesTube-Title JamesTube
                    span.jamesTube-language KR
                .header__title-join
                    span 회원가입
            .header__column
                .join-sequence
                    span.join__select 1. 회원선택
                    span.join__form 2. 정보입력
                    span.join__done 3. 가입완료
