include ../mixins/nextVideoBlock

.nextVideo
    div.nextVideo__title 다음 동영상
    .nextVideo__videos
        each nextVideo in nextVideos
            +nextVideoBlock({
                id:nextVideo._id,
                videoFile:nextVideo.videoFile,
                title:nextVideo.title,
                views:nextVideo.views,
                createdAt:nextVideo.createdAt,
                channelName:nextVideo.channel.name
            })
        
    