.sdEditNav.nav
    .sdEdit__title
        h1 채널 맞춤설정
    .sdEdit__bar.nav__bar
        .sdEditNav__wrapper.nav__wrapper
            a(href=`${domain}${routes.sdEditImages(user.channel.id)}`)
                span 브랜딩
            a(href=`${domain}${routes.sdEditDetails(user.channel.id)}`)
                span 기본 정보
        .sdEditNav__submit-btn
            input(type="reset", value="취소")#sdImgResetBtn
            input(type="submit", value="게시")#sdImgSubmitBtn
    