.social-login
    .social-login__title 소셜 간편로그인
    .social-login__btn
        a(href=routes.home)
            div
                i.fab.fa-google.google
        a(href=routes.home)
            div
                i.fas.fa-comment.kakao
        a(href=routes.home)
            div 
                span.naver N
        a(href=routes.home)
            div
                i.fab.fa-facebook-f.facebook
            
    
            