.social-login
    span.social-login__title 소셜 로그인
    button
        span
            i.fab.fa-google
    button
        span
            i.fas.fa-comment
    button
        span
            |N
    button
        span 
            i.fab.fa-facebook-f
            
    
            