extends ../layouts/studio

block content
    .studio__home-wrapper
        span this is studio home <br> you can use <br> 1. studio videos <br> 2. sutido comments <br> 3. studio pics <br> 4. studio upload & record