extends ../layouts/studio
include ../mixins/sdmyvideoList

block content
    each video in videos
        +sdmyvideoList({
            id:video._id,
            title:video.title,
            views:video.views
        })

