extends ../layouts/studio
include ../mixins/sdMyvideoBlock

block content
    .sdMyvideos__wrapper.videos__wrapper
        .sdMyvideos.videos
            each video in videos
                +sdMyvideoBlock({
                    id:video._id,
                    videoFile:video.videoFile,
                    title:video.title,
                    views:video.views,
                    createdAt:video.createdAt
                })

