doctype html 
html 
    head
        link(rel="stylesheet", href = "https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        link(href="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-512.png" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet", href="/static/styles.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet")
        title #{pageTitle} - #{siteName}
    body
        include ../partials/headerStandard
        include ../partials/sidebarStandard
        main#mainStandard
            block content
        script(src="/static/main.js")